@tailwind base;
@tailwind components;
@tailwind utilities;

.additional .addition-holder:last-of-type input {
  margin-right: 45px;
}

/* components/SkillsForm.module.css */

.expandle {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-out;
}

.expandle.expanded {
  max-height: 900px; /* Adjust the max-height according to your content */
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
